<template>
  <div
    :id="emoji.name"
    class="emogit"
    :data-clipboard-text="emoji.emoji"
  >
    <span class="emoji">{{ emoji.emoji }}</span>
    <span class="description">{{ emoji.description }}</span>
    <span
      v-show="copied"
      class="copied"
    >Copied!</span>
  </div>
</template>

<script>
import ClipboardJS from 'clipboard'

export default {
  props: {
    emoji: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      clipboard: null,
      copied: false
    }
  },

  created () {
    this.clipboard = new ClipboardJS(`#${this.emoji.name}`)

    this.clipboard.on('success', e => {
      e.clearSelection()
      this.copied = true

      setTimeout(() => {
        this.copied = false
        this.$emit('copy:success')
      }, 1000)
    })

    this.clipboard.on('error', e => {
      this.$emit('copy:error')
    })
  },

  destroyed () {
    this.clipboard.destroy()
  }
}
</script>

<style scoped lang="scss">
  .emogit {
    position: relative;
    padding: .75rem 1.5rem;
    margin-bottom: .25rem;
    border-radius: 10px;
    border: 1px solid #FDD835;
    text-align: left;
    cursor: pointer;

    &.selected {
      background-color: #FFF176;
    }

    .emoji {
      min-width: 10%;
      display: inline-block;
    }

    .copied {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 75%;
      background-color: #F57F17;
      padding: .2rem;
      border-radius: 10px;
      color: #fff;
    }
  }
</style>
