<template>
  <div id="app">
    <header>
      <h1 @click="search=''">
        EM😋GIT
      </h1>

      <input
        ref="search"
        v-model="search"
        placeholder="Search emoji"
        autofocus
        @keyup.up.stop="selectPrevious"
        @keyup.down.stop="selectNext"
      >
    </header>

    <main>
      <Emogit
        v-for="(e, i) in emogits"
        :key="e.name"
        :class="{ selected: i === selectedEmogit }"
        :emoji="e"
      />
    </main>
  </div>
</template>

<script>
import fuzzysearch from 'fuzzysearch'
import Mousetrap from 'mousetrap'
import emogits from './data/emogits'
import Emogit from './components/Emogit'

export default {
  components: { Emogit },

  data () {
    return {
      search: '',
      selectedEmogit: -1
    }
  },

  computed: {
    emogits () {
      return emogits.filter(e => fuzzysearch(this.search, e.description.toLowerCase()))
    }
  },

  watch: {
    emogits () {
      this.selectedEmogit = -1
    }
  },

  created () {
    window.addEventListener('focus', this.focusSearch)
    Mousetrap.bind('up', this.selectPrevious, 'keyup')
    Mousetrap.bind('down', this.selectNext, 'keyup')
    Mousetrap.bind('enter', this.copy, 'keyup')
  },

  destroyed () {
    window.removeEventListener('focus', this.focusSearch)
    Mousetrap.unbind('up', 'keyup')
    Mousetrap.unbind('down', 'keyup')
    Mousetrap.unbind('enter', 'keyup')
  },

  methods: {
    focusSearch () {
      this.$refs.search.focus()
    },

    blurSearch () {
      this.$refs.search.blur()
    },

    selectPrevious () {
      this.blurSearch()

      if (this.selectedEmogit <= 0) {
        this.selectedEmogit = -1
        this.focusSearch()
      } else {
        this.selectedEmogit = this.selectedEmogit - 1
      }

      this.scrollToEmogit()
    },

    selectNext () {
      this.blurSearch()
      if (this.selectedEmogit !== this.emogits.length - 1) this.selectedEmogit = this.selectedEmogit + 1
      this.scrollToEmogit()
    },

    scrollToEmogit () {
      if (this.selectedEmogit === -1) return

      const selecteEmogitId = this.emogits[this.selectedEmogit].name
      const emogitElt = document.getElementById(selecteEmogitId)
      if (emogitElt.scrollIntoViewIfNeeded) emogitElt.scrollIntoViewIfNeeded({ behavior: 'smooth', block: 'center', inline: 'center' })
      else emogitElt.scrollIntoView(false)
    },

    copy () {
      document.querySelector('.emogit.selected').click()
    }
  }
}
</script>

<style lang="scss">
  body {
    background-color: #FFF9C4;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
  }

  header, main {
    width: 100%;
  }

  header {
    height: 150px;
    position: fixed;
    text-align: center;
    background-color: #FFF9C4;
    z-index: 2;

    h1 {
      cursor: pointer;
    }

    input {
      margin-bottom: 1rem;
      border-radius: 10px;
      border: 1px solid #FDD835;
      padding: .75rem 1.5rem;
      outline: none;
    }
  }

  main {
    z-index: 1;
    max-width: 400px;
    margin: 0 auto 20px;
    padding-top: 150px;
  }

  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background-color: #FFF9C4;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #FDD835;
  }
</style>
